@import url("https://fonts.google.com/specimen/Poppins");
@import url("https://fonts.google.com/specimen/Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: hsl(257, 40%, 49%);
  font-weight: 400;
}

.background {
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans";
  height: 100vh;
}

.main-container {
  display: flex;
  height: 100vh;
  padding: 0 4rem;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-right: 3rem;
  padding-top: 2rem;
}

.logo {
  margin-bottom: 5rem;
  width: 30%;
}

.illust {
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
}

.header p {
  font-size: 3em;
  font-weight: 600;
  font-family: "Poppins";
}

.detail {
  margin: 1.5rem 0rem;
  font-size: 1.1em;
}

.button {
  color: hsl(257, 40%, 49%);
  background-color: white;
  padding: 1rem 4rem;
  border-radius: 9999px;
  width: 40%;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5),
    4px 0 6px -2px rgba(0, 0, 0, 0.5);
}

.button:hover {
  color: #ffffff;
  background-color: hsl(300, 69%, 71%);
  cursor: pointer;
}

.contact-container {
  width: 100%;
  height: 10rem;
  /* border: 1px solid red; */
}

.icon{
  font-size: 3em;
  border: 1px solid white;
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 375px) {
  .main-container {
    padding: 0 2rem;
    flex-direction: column;
  }
  .background {
    background-image: url("./images/bg-mobile.svg");
    width: 100%;
    height: 100%;
    background-size: auto;
  }

  .img-container {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0;
    height: 50%;
  }
  .logo {
    width: 50%;
    margin: 3rem 0;
  }

  .illust img {
    width: 100%;
  }

  .text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header p {
    font-size: 1.5em;
    font-weight: 400;
  }

  .detail {
    font-size: 0.96em;
  }

  .button {
    text-align: center;
    padding: .75rem 5rem;
    width: auto;
  }
}
